  #login{
   height: 34px;
   margin-left: 6px;
   float:right;
   border-radius: 50%;
 }
.Login-link{

color:white;
text-decoration-color: white;
}

.card-img{
  
  height: 200px;
  width: 60%;
}
.card-titlee{
  font-family: 'Monoton', cursive;
}

.card{
 width: 18rem;
}